// Variables
@import "variables";

// Editor Widths
$editor-width: 710px;
$editor-wide-width: 960px;

/** === Widths === */

body.gutenberg-editor-page .gutenberg .edit-post-layout {
	.editor-post-title__block,
	.editor-default-block-appender,
	.editor-block-list__block {
		max-width: $editor-width;
	}

	.editor-block-list__block[data-align="full"] {
		max-width: none;
	}

	.editor-block-list__block[data-align="wide"] {
		max-width: $editor-wide-width;
	}
}

/** === Title === */

body.gutenberg-editor-page .gutenberg .editor-post-title__block {
	margin-bottom: 75px;

	@media (min-width: 800px) {
		margin-top: 40px;
	}

	.editor-post-title__input {
		color: $color__text-heading;
		font-family: $font__heading;
		font-size: 30px;
		font-weight: $font__weight-heading;
		line-height: 1.6em;
		text-align: center;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;

		@media (min-width: 800px) {
			font-size: 50px;
		}
	}
}

/** === Default Appender === */

body.gutenberg-editor-page .gutenberg .editor-default-block-appender__content {
	font-family: $font__body;
	font-size: $font__size-md;
	font-weight: $font__weight-body;

	@media screen and (min-width: 599px) {
		font-size: $font__size_base;
	}
}

.components-placeholder__label,
.components-placeholder__instructions {
	color: #191e23;
}

/** === Title: Portfolio Post Type === */
body.gutenberg-editor-page.post-type-portfolio .gutenberg .editor-post-title__block {
	margin-bottom: 0;

	@media (min-width: 800px) {
		margin-top: 20px;
	}

	.editor-post-title__input {
		padding-bottom: 0;
		text-align: left;
	}
}
