.single .portfolio {
	margin: 0 auto;
	max-width: 1200px;
}

.single-portfolio .entry-title {
	display: inline-block;
	margin-bottom: 2.5vh;
}

.project-meta {
	font-size: 85%;
	margin-top: 3vh;
	text-transform: lowercase;
}

@media only screen and (min-width: 600px) {
	.project-meta {
		margin-top: 2.2vw;
	}
}

.project-meta p {
	display: block;
	margin: 0;
}

@media only screen and (min-width: 600px) {
	.project-meta p {
		display: inline-block;
		padding-right: 20px;
	}
}

.project-meta p:last-child {
	padding-right: 0;
}

.project-assets {
	text-align: center;
}

.project-assets figcaption {
	display: none;
}

.project-assets figure {
	margin-bottom: 4%;
}

.project-assets figure:not(.video-frame):last-of-type {
	margin-bottom: 0;
}

.js .project-assets .lazy-load li img,
.js .project-assets .lazy-load figure img {
	opacity: 0;
	transition: opacity 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.project-caption {
	font-size: 40px;
	line-height: 1.4em;
	margin: 24% auto;
	padding: 6% 0;
}

@media screen and (min-width: 600px) {
	.project-caption {
		max-width: 75vw;
		text-align: center;
	}
}

@media screen and (max-width: 1920px) and (min-width: 823px) {
	.project-caption {
		font-size: 4.75vw;
	}
}

@media screen and (min-width: 1920px) {
	.project-caption {
		font-size: 90px;
	}
}

/* Categories & Tags */

.project-taxonomy {
	display: block;
	font-size: 85%;
	margin-bottom: 3vh;
}

@media only screen and (min-width: 768px) {
	.project-taxonomy {
		display: inline-block;
		margin-bottom: 0;
		margin-left: 15px;
	}
}

.project-taxonomy p {
	margin-bottom: 0;
	text-transform: lowercase;
}

.project-taxonomy a {
	margin-right: 10px;
}

.project-taxonomy a::before {
	content: "/";
	display: inline-block;
	margin-right: 10px;
}

.project-taxonomy a:first-of-type::before {
	display: none;
}

/* Navigation */

.single .navigation {
	@include font-smoothing;
	margin-bottom: 14vw;
	margin-top: 12.3vw;
	text-align: center;
}

@media screen and (min-width: 600px) {
	.single .navigation {
		margin-bottom: 12vw;
		margin-top: 12vw;
		text-align: center;
	}
}

.single .navigation .nav-previous {
	display: none;
}

.single .navigation a {
	border-bottom: 1px solid $black;
	color: $black;
	font-size: 40px;
	margin-bottom: 20px;
}

@media screen and (max-width: 1920px) and (min-width: 823px) {
	.single .navigation a {
		font-size: 4.75vw;
	}
}

@media screen and (min-width: 1920px) {
	.single .navigation a {
		font-size: 90px;
	}
}