.entry-content .tiled-gallery {
	margin: 10% 0;
}

.tiled-gallery .tiled-gallery-item a {
	cursor: default;
	pointer-events: none;
}

.entry-content .tiled-gallery-caption {
	font-size: 14px;
	padding: 7px 5px;
	text-align: center;
}

.gallery {
	float: left;
	margin: auto;
	width: 100%;
}

.gallery-item {
	float: left;
	margin-left: 0;
	text-align: center;

	img {
		border: none;
		margin: 10px 0;
		padding: 0;
	}
}

.gallery-caption {
	font-size: 12px;
	font-weight: normal;
	line-height: 22px;
	margin: 0;
	padding: 5px;
	text-align: center;
}