.main-navigation ul ul {
    padding: 0.8em 0 0 0;
    margin-bottom: -.4em;

    li {
    	padding: 0.1em 0;

    	a {
    		font-size: 20px;
    		opacity: .6;

    		&:hover {
    			color: $black;
		        opacity: 1;  
		    }
    	}
    }
}
