em,
cite {
	font-style: italic;
}

b,
strong {
	@include font-smoothing;
	font-weight: bold;
}

p {
	margin: 0 0 30px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
 	@include font-smoothing;
 	@include font-size(24px);
	border: none;
	quotes: none;
	font-style: italic;
	line-height: 1.7;
	font-weight: normal;
	margin: 35px 0;
	color: $gray;

	@media (min-width: 600px) {
		margin: 55px 0 55px 50px;
	}

	& > p:last-child {
		margin-bottom: 0;
	}


	cite {
		@include font-size(20px);
		display: block;
		font-style: normal;
		margin-top: 5px;
	}
}

q {
	quotes: "“" "”" "‘" "’";
}

address {
	font-style: italic;
	margin: 0 0 1.75em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font: 17px/1.7 "Monaco", Courier, "Courier New", monospace;
}

pre {
	background-color: $color--background-pre;
	clear: both;
	display: block;
	font-size: 14px;
	margin: 3.3em 0;
	overflow: auto;
	padding: 40px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	@include font-size(15px);
	padding: 3px 10px;
	position: relative;
	top: -1px;
	border-radius: 3px;
	background-color: $color--background-pre;
}

abbr,
acronym {
	border-bottom: 1px dotted $color--border-abbr;
	cursor: help;
}

ins {
	background: $color--background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

strike,
del {
	text-decoration: line-through;
}