body,
button,
input,
select,
textarea {
	@include font-size(16px);
	color: $black;
	font-family: $font__main;
	font-weight: normal;
	line-height: 28px;

	@media (min-width: 768px) {
		@include font-size(19px);
		line-height: 1.8em;
	}
}

body {
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
}

@import "headings";

@import "copy";