.site-content {
	padding: 0 4%;
	margin-top: -80px; //Subtract the header height.
}

.page .site-content.site-content--no-header {
	padding-top: 12%;

	@media (min-width: 600px) {
		padding-top: 170px;
	}
}
