article.post {
	margin: 0 auto;
	max-width: 900px;

	.entry-title {
		@include font-size(30px);
		line-height: 1.6;
		margin: 0;

		@media (min-width: 768px) {
			@include font-size(50px);
			line-height: 1.7em;
		}

		a {
			display: block;
		}
	}

	.cat-links,
	.entry-meta,
	.tags-links {
		font-size: $font-size__meta-mobile;
		font-style: italic;
		display: inline-block;
		margin-top: 3vh;
		color: $gray;

		@media (min-width: 600px) {
			font-size: $font-size__meta;
		}

		@media only screen and (min-width: 600px) {
			margin-top: 1.75vw;
		}
	}

	.cat-links {
		margin-bottom: 3vh;
		margin-top: 0;

		@media only screen and (min-width: 600px) {
			margin-bottom: 1.2vw;
		}
	}
}

.search .type-portfolio {
	.entry-media {
		text-align: center;
	}
}






.page-header,
.entry-header {
	margin: 70px 0;
	padding: 1vh 0;
	text-align: center;

	@media (min-width: 768px) {
		margin: 100px 0;
		padding: 6vh 50px;
	}
}

.page-header {

	.page-title {
		@include font-size(20px);

		@media (min-width: 600px) {
			@include font-size(28px);
		}
	}

	.archive & {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}








