.entry-media {
	margin-bottom: 40px;
	text-align: center;
}

.post-thumbnail {
	display: block;

	&__inner {
		overflow: hidden;
		transition: transform .4s ease-in-out;
	}

	&:hover &__inner {
		transform: scale(.98);

		/* Applies styles when Reduced Motion is enabled */
		@media screen and (prefers-reduced-motion: reduce) {
			transform: scale(1);
		}
	}

	&:hover .wp-post-image {
		transform: scale(1.1);

		/* Applies styles when Reduced Motion is enabled */
		@media screen and (prefers-reduced-motion: reduce) {
			transform: scale(1);
		}
	}

	.wp-post-image {
		transition: transform .4s ease-in-out;
	}


}



.entry-content,
.comment-content {
	padding: 0 20px;
	margin: 0 auto;
	max-width: 770px;

	@media (min-width: 600px) {
		padding: 0 35px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 30px;
	}

	ul,
	ol {
		margin-left: 0;
		padding-left: 25px;
	}

	ol {
		list-style-type: disc;
	}

	ul {
		list-style-type: decimal;
	}
	
	ul ul,
	ul ol,
	ol li ul,
	ul li ol,
	ul li ul,
	ol li ol {
		margin: 0 0 0 13px;
		margin: 0 0 0 1.3rem;
	}

	pre {
		margin: 3em 0 2.8em;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.entry-date + .updated {
	display: none;
}

.bypostauthor {
	text-transform: normal;
}

.post-password-required input[type="password"] {
	margin-top: 10px;
}

.post-password-required input[type="submit"] {
	display: none;
}

.post-password-required label {
	display: none;
}

.more-link {
	display: block;
}

.sticky {
	color: inherit;
}

.icon-sticky {
	display: block;
	margin: 0 auto 15px;
	text-align: center;
	fill: $gray;
        height: 1.5em;
       	width: 1.5em;
       	position: relative;
       	top: 7px;
       	opacity: .33;

       	@media (min-width: 600px) {
		height: 2em;
       		width: 2em;
       		top: 12px;
	}
}
