.entry-content {
	.wp-block-button {

		&.is-style-outline .wp-block-button__link:not(.has-background),
		&.is-style-outline .wp-block-button__link:not(.has-background):focus,
		&.is-style-outline .wp-block-button__link:not(.has-background):hover,
		&.is-style-outline .wp-block-button__link:not(.has-background):active {
			background: transparent;
		}

		.wp-block-button__link {
			&:not(.has-background) {
				&,
				&:hover,
				&:active,
				&:focus {
					background-color: $black;
				}
			}
		}
	}

	.wp-block-button__link {
		@include font-size(18px);
		border-radius: 30px;
		box-shadow: none;
		font-style: italic;
		font-weight: 400;
		padding: 9px 30px 11px;

		@media (min-width: 700px) {
			font-size: $font__size_base;
		}

		&:hover {
			box-shadow: none;
			opacity: 0.8;
		}
	}
}
