.entry-content {
	.wp-block-button {

		&.is-style-outline .wp-block-button__link:not(.has-background),
		&.is-style-outline .wp-block-button__link:not(.has-background):focus,
		&.is-style-outline .wp-block-button__link:not(.has-background):hover,
		&.is-style-outline .wp-block-button__link:not(.has-background):active {
			background: transparent;
		}
	}

	.wp-block-button__link {
		@include font-size(18px);
		font-weight: 400;
		padding: 14px 30px 15px;
		border-radius: 30px;

		@media (min-width: 700px) {
			font-size: $font__size_base;
		}

		&:not(.has-background) {
			&,
			&:hover,
			&:active,
			&:focus {
				background-color: $black
			}
		}

		&:hover {
			box-shadow: none;
			opacity: 0.8;
		}
	}
}
