.entry-content {
	ul,
	ol {
		line-height: 2;

		li {
			margin: 0 0 3px 20px;
		}

		ol {
			margin-bottom: 3px;
			padding-left: 20px;
			margin-top: -5px;

			li {
				list-style: decimal;
			}
		}

		ul {
			margin-bottom: 3px;
			padding-left: 20px;
			margin-top: -5px;

			li {
				list-style: circle;
			}
		}
	}
}
