.comment-content {
	padding: 0;
}

.comments-title {
	text-align: center;
	margin-bottom: 30px;
}

.comment-reply-title {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;

	.comment & {

		small {
			float: right;
		}

	}
}

.logged-in-as {
	font-style: italic;
	color: $gray;
	text-align: center;
	margin-top: -15px;
}

.comments-area {
	font-size: 17px;
	line-height: 1.7;
	margin-left: auto;
	margin-right: auto;
	max-width: 700px;
	padding: 0 5%;

	@media only screen and (min-width: 700px) {
	    padding: 0;
	}
}

.no-comments {
	text-align: center;
}

.comments-area--wrapper {
	background: #f5f5f5;
	padding-top: 70px;
	padding-bottom: 45px;
	margin: 80px -4% 0;
	width: calc(100% + 8%);

	@media only screen and (min-width: 700px) {
	    margin-top: 100px;
	    padding-top: 90px;
	    padding-bottom: 100px;
	}
}

.comments {
	margin-bottom: 40px;
	z-index: 999;

	ol,
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

.comment {
	margin: 0 0 30px;
	padding: 0;
	list-style-type: none;

	.comment-respond {
		margin-top: 30px;
		margin-left: 50px;
	}
	
	.avatar {
		border-radius: 100px;
		float: left;
		width: 38px;
		height: 38px;
		margin: 7px 14px 0 0 !important;
	}

	.reply {
		a {
			@include underline-on-hover;
			color: $gray;
			font-style: italic;

			&:hover {
				color: $gray--hover;
			}
		}
	}

	&-meta,
	&-author {
		color: rgba(0, 0, 0, 0.5);
		display: block;
		font-size: 14px;
		margin: 0 0 10px;
		color: $black;

		@media only screen and (min-width: 514px) {
			font-size: 16px; 
		}

		a {
			color: rgba(0, 0, 0, 0.5);

			&:hover {
				color: $black;
			}
		}

		a {
			color: $black;
		}

		b {
			font-size: 17px;
			font-weight: normal;
			-moz-osx-font-smoothing: inherit;
			-webkit-font-smoothing: inherit;
		}
	}

	&-author {
		span, cite, a {
			display: inline-block;
			font-style: normal;
			font-weight: normal;
		}
	}

	&-notes {
		display: none;
	}
	
	.reply,
	&-content {
		margin-left: 50px;
	}

	&-content a {
		word-wrap: break-word;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&-body {
		clear: both;

		p {
			margin-bottom: 10px;
		}

		pre,
		code {
			background: $white;
		}
	}
}

.comment-author .says {
	display: none;
}

.comment-metadata {
	display: block;
	margin-top: -13px;
	font-style: italic;

	a {
		@include underline-on-hover;
		color: $gray;

		&:hover {
			color: $gray--hover;
		}
	}
}

.children {
	padding: 0;

	.comments & { 
		margin-top: 30px;
	}
	@media only screen and (min-width: 600px) {
		.comments & {
			margin: 30px 0 0 50px;
		}
	}
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 2px solid $black;
	padding: 2px;
}

.comment.depth-3,
.comment.depth-4,
.comment.depth-5,
.comment.depth-6,
.comment.depth-7 {

	p {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
}

.comment-respond {

	.comment-form-comment label {
		display: none;
	}	

	input,
	textarea {
		margin-bottom: 0;
	}

	textarea {
		max-height: 200px;
	}

	p {
		margin-bottom: 25px;
	}

	@media (max-width: 699px) {
		.form-submit input {
			width: 100%;
		}
	}
}










// .comment-form {
// 	margin-bottom: -110px;
// 	overflow: hidden;
// 	transition: margin 200ms cubic-bezier(0.75, 0, 0.25, 1) 50ms;

// 	@media only screen and (min-width: 769px) {
// 		margin-bottom: -55px;
// 	}

// 	& label {
// 		@include hide();
// 	}

// 	&.js--focus {
// 		margin-bottom: 70px;
// 		transition: margin 200ms cubic-bezier(0.75, 0, 0.25, 1) 50ms; 
// 	}

// 	p {
// 		margin-bottom: 10px;
// 		position: relative;
// 	}

// 	.comment-form-url {
// 		display: none;
// 	}
// }

// .is-customize-preview .comment-form,
// .admin-bar .comment-form {
// 	margin-bottom: -10px;

// 	&.js--focus {
// 		margin-bottom: 50px;
// 	}
// }


// body:not(.single-product) .comment-form-comment, body:not(.single-product) .comment-form-author, body:not(.single-product) .comment-form-email {

// 	textarea {
// 		font-size: 17px;
// 		margin: 0;
// 		max-height: 180px;
// 		line-height: 1.7 !important;
// 	}
// }

// .form-submit {
// 	text-align: left;
// 	margin-bottom: 0 !important;
// 	clear: left;

// 	@media (max-width: 768px) {
// 		& input {
// 			width: 100%;
// 		}
// 	}
// }


// @media only screen and (min-width: 769px) {
// 	.comment-form-author, .comment-form-email {
// 		float: left;
// 		display: inline-block;
// 		width: calc( 50% - 5px);
// 	}

// 	.comment-form-author {
// 		margin-right: 5px;
// 	}

// 	.comment-form-email {
// 		margin-left: 5px;
// 	}
// }


// #respond {
//     overflow: hidden;
// 	@include clearfix;

// 	.form-submit, .comment-form-author, .comment-form-email {
// 		opacity: 0;
// 		transition: opacity 200ms cubic-bezier(0.75, 0, 0.25, 1) 0ms;

// 		&.js--focus {
// 			opacity: 1;
// 			transition: opacity 200ms cubic-bezier(0.75, 0, 0.25, 1) 100ms;
// 		}
// 	}

// 	.comment & {
// 		.form-submit, .comment-form-author, .comment-form-email {
// 			opacity: 1;
// 		}
// 	}
// }